.Contact-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.circle-cont {
  font-size: 18px;
}
.Parent-container {
  height: 90vh;
  padding: 66px;
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 60px;
  margin-bottom: 50px;
}
.Contact-quote {
  font-size: 40px;
  font-weight: 750;
  margin-top: 20px;
}
.email a {
  text-decoration: none;
  color: black;
  font-size: 19px;
  font-weight: 600;
}
.Phone-icon {
  height: 50px;
  width: 50px;
  color: #ff6b00;
  background-color: #fff5ef;
  padding: 9px;
}
.phone-container {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}
.first-para {
  color: #606060;
}
.second-para {
  font-size: 19px;
  font-weight: 600;
}
.second-para:hover {
  color: #ff6b00;
}
.form-container {
  width: 50%;
}
.form-box {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ff6b00;
  width: 100%;
  margin-top: 25px;
}
.form-box:focus {
  outline: none;
}
.form-flex {
  display: flex;
  gap: 20px;
}
.Submit-button {
  background-color: #ff6b00;
  color: #ffff;
  padding: 15px;
  border: 1px solid #ffff;
  margin-top: 20px;
  border-radius: 9px;
  font-size: 16px;
  cursor: pointer;
}
@media screen and (max-width: 850px) {
  .Parent-container {
    margin-top: 0px;
    height: 80vh;
  }
  .form-box {
    padding: 10px;
  }
}
@media screen and (max-width: 768px) {
  .Parent-container {
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding: 0px;
    gap: 0px;
  }
  .Contact-quote {
    font-size: 23px;
  }
  .contact-padding {
    padding: 0px 55px;
  }
  .form-box {
    padding: 15px 25px;
  }
  .form-container {
    width: 70%;
  }
}
