.Home-div {
  height: 90vh;
  width: 60%;
  padding: 60px;
  padding-top: 80px;
  padding-bottom: 0;
}
.Home-container {
  background-color: #fff5ef;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.Home-div h1 {
  font-size: 45px;
  font-weight: 550;
}
.Home-para {
  margin-bottom: 100px;
  width: 600px;
  color: #606060;
  margin-top:10px;
  text-align: justify;
}
.Home-footer p {
  font-weight: 600;
}
.First-icon {
  height: 40px;
  width: 40px;
  color: #ff6b00;
}
.Second-icon {
  color: #ffff;
  background-color: #ff6b00;
  padding: 0 6px;
  height: 33px;
  width: 35px;
  border-radius: 3px;
}
.social-icon {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 15px;
}
.ramya {
  border: 1px solid #efefef;
  border-radius: 15px;
  box-shadow: 1px 1px 6px #dfdfdf;
}
.Typing-effect {
  font-size: 40px;
  color: #ff6b00;
  font-weight: 700;
}
@media screen and (max-width: 850px) {
  .Home-div h1 {
    font-size: 30px;
  }
  .Typing-effect {
    font-size: 16px;
  }
  .Home-para {
    width: 300px;
    font-size: 12px;
  }
  .ramya {
    height: 250px;
  }
  .Home-div {
    height: 50vh;
  }
}
@media (max-width: 768px) {
  .ramya {
    height: 230px;
    margin-bottom: 10px;
  }
  .Home-div h1 {
    font-size: 20px;
  }
  .Home-div p {
    font-size: 11px;
  }
  .Home-div {
    padding: 0;
    height: 43vh;
  }
  .Typing-effect {
    font-size: 12px;
  }
  .Home-para {
    margin-bottom: 35px;
    width: 250px;
    text-align: justify;
  }
  .Home-container {
    flex-direction: column;
    padding-top: 20px;
    gap: 0;
  }
  .social-icon {
    margin-top: 10px;
  }
}
